/*general*/
body {
  margin: 0;
  padding: 0;
  background-color: #e4e4e4;
  font-family: Arial;
}

/*saved pop-up*/
#savePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    display: none;
    z-index: 9999;
    animation: fadeInOut 1.5s ease forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -40%); }
    10% { opacity: 1; transform: translate(-50%, -50%); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -60%); }
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap: 20px;
  background: #b82a2a;
}

img {
  width: 50px;
  height: auto;
}

.header h1 {
  font-family: 'Times New Roman';
  font-size: 25px;
  font-weight: lighter;
  color: white;
  text-decoration: underline #b82a2a;
}

/*profile hover pop-up*/
.pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;
  gap: 8px;
  color: white;
}

.profile-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.1;
  font-size: 12px;
  color: white;
}

.profile-text span:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
}

.profile-text span:nth-child(2) {
  font-size: 10px;
  font-weight: normal;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 150px;
  background: #5f5f5f;
  border-radius: 6px;
  padding: 5px 0;
  text-align: left;
  z-index: 10;
}

.profile-dropdown a {
  display: block;
  padding: 8px 12px;
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.profile-dropdown a:hover {
  background-color: #464646;
}

.profile-wrapper:hover .profile-dropdown {
  display: block;
}

/*subhead*/
h5 {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  margin-top: 60px;
  margin-left: auto;
  padding: 12px 0 10px 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: black;
  background-color: white;
}

/*profile settings style*/
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 20px;
  padding-top: 90px;
}

.box {
  display: flex;
  padding: 20px;
  color: black;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

#profile1 {
  align-items: center;
  gap: 35px;
  width: fit-content;
}

.pfp-icon {
  width: 200px;
  object-fit: cover;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-text h1 {
  margin: 0 0 4px 0;
  font-size: 24px;
}

.profile-text p {
  margin: 0;
  color: black;
  font-size: 14px;
}

#profile2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  width: 100%;
  gap: 20px 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

#profile2 .field {
  display: grid;
}

#profile2 .field.full {
  grid-column: 1 / 3;
}

#profile2 input, select {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  min-width: 100%;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-color: #e4e4e4;
  box-sizing: border-box;
}

#profile2 option {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  min-width: 100%;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
}

#profile2 .field.full input {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 800px) {
  #profile2 {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
  }

  #profile2 .field.full {
    grid-column: 1;
  }
}

.button {
  padding: 10px 20px;
  height: fit-content;
  background: #b82a2a;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: #8b2020;
}

.container h1 {
  font-family: arial;
  font-weight: bold;
  color: black;
}

.container a {
  margin-left: -207px;
}

/*show password togglt*/
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  transform: translateY(3px);
}

.switch input { display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background: #ccc;
  transition: .3s;
  border-radius: 18px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background: white;
  transition: .3s;
  border-radius: 50%;
}

input:checked + .slider {
  background: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.password-toggle-text {
    font-size: 12px;
    margin-left: 6px;
}

.password-toggle-wrapper {
  display: flex;
  align-items: center;
  margin-top: 3px;
  gap: 6px;
  vertical-align: middle;
  display: inline-block;
}