/*general*/
body {
  margin: 0;
  padding: 0;
  background-color: #e4e4e4;
  font-family: Arial;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap: 20px;
  background: #b82a2a;
}

img {
  width: 50px;
  height: auto;
}

h1 {
  font-family: 'Times New Roman';
  font-size: 25px;
  font-weight: lighter;
  color: white;
}

/*sidebar*/
.sidebar {
  position: fixed;
  left: 0;
  z-index: 500;
  width: 70px;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3a3a3a;
}
  
.top a, .bottom a {
  display: block;
  padding: 15px;
  font-size: 10px;
  font-weight: lighter;
  line-height: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.top a:hover {
  background-color: #8b2020;
}
   
.top a.active, .bottom a.active {
  font-weight: bold;
  background-color: #b82a2a;
}

.top {
  margin-top: 97px;
 }

.bottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.icons {
  width: 60%;
  height: auto;
}

.setting {
  width: 50%;
  height: auto;
}

.pfp {
  width: 70%;
  height: auto;
}

/*profile hover pop-up*/
.profile-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-dropdown {
  display: none;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-80%);
  z-index: 1000;
  min-width: 150px;
  padding: 5px 0;
  border-radius: 6px;
  background-color: #5f5f5f;
  color: white;
  text-align: left;
}

.profile-dropdown a {
  display: block;
  padding: 8px 12px;
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.profile-dropdown a:hover {
  background-color: #464646;
}

.profile-wrapper:hover .profile-dropdown {
  display: block;
}

/*subhead*/
h5 {
  position: fixed;
  width: 100%;
  margin-top: 62px;
  margin-left: 70px;
  padding-top: 7px;
  padding-left: 50px;
  padding-bottom: 9px;
  background-color: white;
  color: black;
  font-weight: bold;
}

h5 a {
  color: black;
  text-decoration: none;
}

/*tally style*/
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  align-items: center;
  padding: 20px;
  padding-top: 120px;
  margin-left: 100px;
}

.box {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 160px;
  height: 90px;
  background-color: white;
  border-radius: 5px;
}

.box-img {
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
  height: 70px;
}

#count {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  margin-top: 15px;
  font-size: 37px;
  font-weight: bold;
}

.label {
  margin-top: 2px;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

#present {
  color: #4a9d4d;
}

#absent {
  color: #ca1c1b;
}

#late {
  color: #e7ca14;
}

/*pop-up style*/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  width: 250px;
  padding: 20px;
  box-shadow: 0 0 0 10px white;
  border-radius: 10px;
  border: 5px solid #b82a2a;
  background: #fff;
  text-align: center;
  position: relative;
}

#popup:target,
#edit-popup:target {
  display: flex;
}

.popup-content {
  position: relative;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.open-btn {
  padding: 10px 20px;
  height: fit-content;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.open-btn img {
  filter: brightness(0) saturate(100%);
}

.open-btn:hover {
  background-color: #ffffff;
}

.qr-img {
  filter: brightness(0) saturate(100%);
  width: 100px;
  height: 100px;
}

.button {
  padding: 10px 20px;
  width: 100px;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #b82a2a;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #8b2020;
}

#subject {
  width: 200px;
  height: 30px;
  background-color: #d3d3d3;
  border-radius: 5px;
  text-align: center;
}

#in {
  width: 177px;
  height: 30px;
  background-color: #d3d3d3;
  border-radius: 5px;
  text-align: center;
}

#out {
  width: 165px;
  height: 30px;
  background-color: #d3d3d3;
  border-radius: 5px;
  text-align: center;
}

#date {
  width: 200px;
  height: 30px;
  background-color: #d3d3d3;
  border-radius: 5px;
  text-align: center;
}

.search {
  margin-top: 27px;
  width: auto;
}

.sec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 15px;
  margin-left: 120px;
}

select {
  font-size: 15px;
  font-weight: bold;
  text-indent: 15px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
}

label {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

input {
  width: auto;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 15px;
  font-weight: bold;
}

table {
  margin: 20px 50px 30px 120px;
  text-align: center;
  border-collapse: collapse;
}

td, th {
  width: 500px;
}

th {
  font-size: 17px;
  border-right: 20px solid #e4e4e4;
  border-left: 20px solid #e4e4e4;
}

tr {
  height: 50px;
  font-size: 15px;
  border-right: 20px solid white;
  border-left: 20px solid white;
}

tr:last-child td {
  border-bottom: none;
}

td {
  background-color: white;
  border-bottom: 1px solid black;
}

#statusP {
  display: inline-block;
  padding: 10px 30px;
  background-color: #4a9d4d;
  border-radius: 4px;
}

#statusA {
  display: inline-block;
  padding: 10px 32px;
  background-color: #c91d1b;
  border-radius: 4px;
}

#statusL {
  display: inline-block;
  padding: 10px 42px;
  background-color: #e7ca14;
  border-radius: 4px;
}